<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Universitet | Fan | Tahrirlash</title>
</head>
<body>
<h1>{{ fan.nom }} ma'lumotini tahrirlash</h1>
<a href="/fanlar/">Ortga</a>
<hr>
<form method="post">
    {% csrf_token %}
    <label>Nom:</label>
    <input type="text" name="nom" value="{{ fan.nom }}" required>
    <label>Asosiy:</label>
    <input type="checkbox" name="asosiy">
    <label>Yo'nalish:</label>
    <select name="yonalish_id">
        <option value="{{ fan.yonalish.id }}">{{ fan.yonalish.nom }}</option>
        {% for yonalish in yonalishlar %}
        <option value="{{ yonalish.id }}">{{ yonalish.nom }}</option>
        {% endfor %}
    </select>
    <button>Saqlash</button>
</body>
</html>
